/*自由女神像的div*/
.div1{
   width:1000px;
   height:450px;
   border:1px solid silver;
   BACKGROUND:url(2.jpg) repeat center;
   background-repeat: ;
   margin:0 auto;
}
/*网页整体*/
body{
   width:1010px;
   height:1300px;
   margin:0 auto;
   border:1px solid silver;
}
/*网页上部空白*/
.head-blank{
    width:1000px;
	height:60px;
	margin:0 auto;
}
/*网页中部分*/
.div2{
    width:800px;
	height:600px;
	border-bottom:1px dashed silver;
	margin:0 auto;
	
}
/*飞跃重洋的div*/
.div3{
    width:350px;
	height:117px;
	/*border:1px solid red;*/
	margin-left:540px;
	margin-top:90px;
}
/*span里面的style*/
.style1{
    margin:0 auto;
    color:red;
    font-size:70px;
    /*background-color:yellow;*/
}
/*logo部分*/
.logo{
    width:150px;
	height:60px;
	float:left;
    
}
.logo img{
    width:150px;
	height:60px;
}
.logo2{
   width:200px;
   height:60px;
   float:left;
   margin-left:220px;
   margin-top:10px;
}
.logo2 img{
   width:200px;
   height:45px;
}
/*网站中部超链接*/
.div4{
   margin-top:30px;
   width:800px;
   height:85px;
   border-bottom:1px dashed silver;

}
.div5{
  padding-left:50px;
  width:200px;
  height:120px;
  float:left;
}
.div6{
  width:180px;
  height:70px;
  float:left;
  border-left:1px solid silver;
}
.div7{
  width:180px;
  height:70px;
  float:left;
  border-left:1px solid silver;
}
.div8{
  width:180px;
  height:70px;
  float:left;
  border-left:1px solid silver;
}
a:link{
        margin-left:10px;
	font-size:20px;
	text-decoration:none;
}
a:hover{
	font-size:25px;
}
a1:hover{font-size:40px;}
.div9{
   width:800px;
   height:400px;
   margin-top:20px;
   text-align: left;

}
.div10{
  width:190px;
  height:400px;
  float:left;
  padding-left:20px;
}
.div11{
  width:188px;
  height:50px;
  border-bottom:1px solid silver;
}
.div12{
  width:100px;
  height:30px;
  padding-left:50px;
  padding-top:14px;
}
.div12 span{
      font-size:16px;
    
}
.div13{
 width:190px;
 height:55px;
 border-bottom:1px solid silver;
}
.div14{
 padding-top:10px;
 width:190px;
 height:340px;
}
.div15{
  padding-left:3px;
  width:180px;
  height:150px;
}
.div16{
  width:180px;
  height:150px;
  border:1px solid silver;
  padding-left:5px;
}
.div16 img{
  width:180px;
  height:150px;
}
.div15 span{
  font-size:5px;
}
.dibushuoming{
  width:1000px;
  height:200px;
  padding-left:250px;
  padding-top:15px;
}
.div18{
 width:60px;
 height:400px;
 float:left;
}