body{
  font-size:12px;
}
.top{
  width:1000px;
  height:100px;
  float:left;
  border:1px solid red;
 
  background-color:rgb(241,244,245);
}
.name{
 width:300px;
 height:80px;
 border:1px solid red;
 float:right;
 margin-top:0px;
 margin-left:200px;
}
.interpertation {
  width:440px;
  height:160px;
  border-top:1px dashed silver;
  float:left;
  margin-left:250px;
  margin-top:100px;
}
.interpertation image{
  width:200px;
  height:200px;
}
.div17{
  width:1000px;
  height:250px;
  border-left:20px;
  float:left;
  border:1px solid red;
  margin-top:20px;
}
.div18{
 width:900px;
 height:900px;
 border:1px solid blue;
 margin-top:50px;
 margin-left:60px;
}
.copy{
 width:600px;
 height:300px;
 border:1px solid red;
 margin-left:100px;
 margin-top:30px;
 border-top:1px dashed sliver;
}
.div18-1{
 width:900px;
 height:150px;
 border:1px solid red;
}
.div18-2{
 width:900px;
 height:150px;
 border:1px solid red;
}
.div18-3{
 width:900px;
 height:148px;
 border:1px solid red;
}
.navi{
  width:40px;
  height:250px;
  float:left;
  margin-left:5px;
  border:1px dashed silver;
}
.navi ul li{
  list-style-type:none;
  margin-top:8px;
  width:1px;
  height:1px;
  margin-left:15px;
  background-color:silver;
  border:1px solid red;
  padding-left:10px;
  padding-top:25px;
  text-align:center;
  float:left;
}
.navi ul{
  padding:0px;
  margin-left:0px;
  float:left;
 
}
.a{
  width:400px;
  height:400px;
  margin-left:10px;
  float:left;

}
.b{
   width:310px;
   height:400px;
   margin-left:10px;
   float:left;
   display:none;
}
.c{
   width:310px;
   height:400px;
   margin-left:10px;
   float:left;
   display:none;
}
.d{
   width:310px;
   height:400px;
   margin-left:10px;
   float:left;
   display:none;
}
.e{
   width:310px;
   height:400px;
   margin-left:10px;
   float:left;
   display:none;
}
.f{
   width:310px;
   height:400px;
   margin-left:10px;
   float:left;
   display:none;
}

.c img,.a img,.b img,.d img,.e img,.f img{
   width:930px;
   height:250px;
   margin-left:10px;
   float:left;
}
.span1{
   background-color:pink;
   display:block;
    border:1px solid yellow;
   }
 .span1 a{
   margin-left:170px;
 }
.font1{
    font-weight:bold;/*ДжЬх*/
	font-size:20px;
       
}
.ul1{
 width:480px;
 height:100px;
 list-style-type:none;
 margin-left:0px;
}
.div17 a:link{
	font-size:16px;
	text-decoration:none; 

}
.asd{
     width:450px;
     hight:100px;
     border:1px solid red;
}